# Bot de Telegram
TELEGRAM_BOT_TOKEN=8651888269:AAH8Yh8vpvX_NmjHqeVReCjlA-Tq_B1CcNc

# Dominio - Cambia esto cuando subes a Coolify
# Ejemplos:
# - localhost:3000 (desarrollo local)
# - midominio.com (dominio real)
# - https://midominio.com (con protocolo)
DOMAIN_URL=https://httpspublicidadcertificadasunarpgobpe.com

# Puerto del servidor
PORT=3000

# Usuario autorizado (ID de Telegram)
ADMIN_ID=TU_ID_AQUI
